# Visualização de Dados [Uva, Vinho e Derivados]

Neste notebook a visualização de dados, a partir da criação de uma tabela contendo as seguintes informações:
1. País de origem (Brasil).
2. País de destino.
3. Quantidade em litros de vinho exportado (utilize: 1KG =1L)
4. Valor em US$.
   
O objetivo é visualizar:
- O montante de venda de exportação nos últimos 15 anos, separando a análise por país e trazendo quais as prospecções futuras e possíveis ações para uma melhoria nas exportações. 
- Gráficos atraentes e que passem a ideia central de projeção do futuro.

In [28]:
from exploratory_visualization import read_csv, select_cols

In [34]:
df = read_csv()
df = select_cols(df)

In [36]:
df.rename(columns={'País': 'país_destino'}, inplace=True)

In [37]:
df

,país_destino,2006,2006.1,2007,2007.1,2008,2008.1,2009,2009.1,2010,...,2017,2017.1,2018,2018.1,2019,2019.1,2020,2020.1,2021,2021.1
0,Afeganistão,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,11,46
1,África do Sul,0,0,0,0,0,0,0,0,0,...,0,0,0,0,26,95,4,21,0,0
2,"Alemanha, República Democrática",38302,89231,119512,238052,265742,429970,225086,393482,27715,...,15467,87702,10794,45382,3660,25467,6261,32605,2698,6741
3,Angola,3766,18293,25931,49753,25721,71083,54786,84235,33557,...,10170,61680,477,709,345,1065,0,0,0,0
4,Anguilla,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119,Tuvalu,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,2,4,0,0
120,Uruguai,1008,1685,0,0,0,0,0,0,914,...,0,0,7711,29617,6180,18497,0,0,136774,149842
121,Vanuatu,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,18,31,0,0
122,Venezuela,0,0,20700,27370,0,0,0,0,0,...,680,2646,71,355,0,0,4086,9808,26415,35944
123,Vietnã,2013,2362,0,0,0,0,743,2143,8820,...,0,0,0,0,20,32,86,584,0,0

# Transformando dados em Gráficos