# Análise Exploratória [Dados de Uva, Vinho e Derivados]

Neste notebook tem relatórios iniciais, explicando a quantidade de vinhos exportados e os fatores externos que podem vir a surgir e que interferem nas análises:
1. Dados climáticos.
2. Dados demográficos.
3. Dados econômicos.
4. Dados de avaliações de vinhos.

# Configurações, Instalações e Imports

In [5]:
pip install --upgrade pandas

Collecting pandas
  Downloading pandas-2.0.3-cp311-cp311-macosx_11_0_arm64.whl (10.7 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 10.7/10.7 MB 39.6 MB/s eta 0:00:0000:010:01
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/annakarolinymatias/Library/Python/3.11/lib/python/site-packages (from pandas) (2.8.2)
Collecting pytz>=2020.1
  Using cached pytz-2023.3-py2.py3-none-any.whl (502 kB)
Collecting tzdata>=2022.1
  Using cached tzdata-2023.3-py2.py3-none-any.whl (341 kB)
Collecting numpy>=1.21.0
  Downloading numpy-1.25.0-cp311-cp311-macosx_11_0_arm64.whl (14.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 14.0/14.0 MB 41.7 MB/s eta 0:00:0000:0100:01
Requirement already satisfied: six>=1.5 in /Users/annakarolinymatias/Library/Python/3.11/lib/python/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-1.25.0 pandas-2.0.3 pytz-2023.3 tzdata-2023.3

[notice] A new release of pip available: 22.3.1 -> 23.1.2
[notice] To update, run: python3.11 -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

# Leitura dos Dados

In [13]:
import pandas as pd

In [49]:
path = "datavisualization/data_sources/exportacao_vinho_2021.csv"

In [50]:
df = pd.read_csv(path, sep=";")

In [45]:
df.head(10)

,Id,País,1970,1970.1,1971,1971.1,1972,1972.1,1973,1973.1,...,2017,2017.1,2018,2018.1,2019,2019.1,2020,2020.1,2021,2021.1
0,1,Afeganistão,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,11,46
1,2,África do Sul,0,0,0,0,0,0,0,0,...,0,0,0,0,26,95,4,21,0,0
2,3,"Alemanha, República Democrática",0,0,0,0,4168,2630,12000,8250,...,15467,87702,10794,45382,3660,25467,6261,32605,2698,6741
3,4,Angola,0,0,0,0,0,0,0,0,...,10170,61680,477,709,345,1065,0,0,0,0
4,5,Anguilla,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,6,Antígua e Barbuda,0,0,0,0,0,0,0,0,...,0,0,37,191,219,1549,624,1864,805,2268
6,7,Antilhas Holandesas,280,207,4800,3705,3000,1936,0,0,...,5400,8550,0,0,0,0,0,0,0,0
7,8,Argentina,0,0,0,0,0,0,0,0,...,0,0,15711,59150,0,0,1015,4176,6,13
8,9,Aruba,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,10,Austrália,0,0,0,0,0,0,0,0,...,1350,7500,2055,6902,1161,4682,1013,3413,705,4034